################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test Task/obj
/Test Task/.vs/Test Task
/Test Task/bin
/.vs
/Test Task/TestResults
